@font-face {
  font-family: "Montserrat Ultra";
  src: url("../fonts/Montserrat-UltraLight.woff2") format("woff2"),
    url("../fonts/Montserrat-UltraLight.woff") format("woff");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "thegem-icons";
  src: url("../fonts/thegem-icons.woff2") format("woff2"),
    url("../fonts/thegem-icons.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "ElegantIcons";
  src: url("../fonts/ElegantIcons.woff2") format("woff2"),
    url("../fonts/ElegantIcons.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
