.footer {
  background-color: #fff;
  background-image: url("../images/33.png");
  background-position: bottom center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 2500px;
  &-news {
    &__header {
      font-family: "Jost", sans-serif;
      text-align: center;
      margin-bottom: 70px;
    }
    &__title {
      line-height: 30px;
      color: #ff6a6d;
      font-size: 20px;
      font-weight: 500;
    }
    &__heading {
      color: #030080;
      font-size: 50px;
      font-weight: 500;
    }
    &__item {
      max-width: 348px;
      width: 100%;
      position: relative;
      margin-left: -15px;
      margin-right: -15px;
    }
    &__item-img-header {
      border-radius: 50px 50px 0 0;
      overflow: hidden;
    }
    &__item-body {
      font-family: "Montserrat", sans-serif;
      font-size: 12px;
      border-radius: 0 0 50px 50px;
      padding: 35px 38px 50px !important;
      background-color: #fff;
      .post-auther-date {
        display: flex;
      }
      .post-date {
        color: #afafd2;
        font-size: 12px;
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 17px;
        line-height: 20px;
        font-weight: 400;
      }
      .author {
        color: #393d50;
        display: flex;
        align-items: center;
        margin-bottom: 17px;
        line-height: 20px;
        &-avatar {
          font-size: 0;
          line-height: 1;
          margin-right: 5px;
          img {
            width: 20px;
            height: 20px;
            border-radius: 50%;
          }
        }
        &-name {
          a {
            color: #ff6a6d;
            line-height: 20px;
          }
        }
      }
      .title {
        div {
          font-family: "Jost", sans-serif;
          font-size: 20px;
          font-weight: 500;
          a {
            color: #ff6a6d;
            letter-spacing: 1px;
          }
        }
      }
      .post-author-date-separator {
        color: #afafd2;
        display: inline-block;
        vertical-align: middle;
        margin-bottom: 17px;
        line-height: 20px;
      }
    }
    &__item-link {
      overflow: hidden;
      display: block;
      &::before {
        content: "\f0f6";
        position: absolute;
        font-family: "FontAwesome";
        color: white;
        font-size: 42px;
        display: flex;
        align-items: center;
        justify-content: center;
        transform: translateY(-100%);
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        opacity: 0;
        padding-left: -15px;
        padding-right: -15px;
        background-color: rgba(94, 40, 199, 0.8);
        transition: opacity 0.3s, background-color 0.3s;
        overflow: hidden;
        border-radius: 50px 50px 0 0;
        transition: all 0.3s ease;
      }
      &:hover {
        transition: all 0.3s ease;
        &::before {
          opacity: 1;
          z-index: 1;
          overflow: hidden;
          transform: translateY(0);
          box-shadow: 0 0 10px rgba(94, 40, 199, 0.8);
        }
      }
    }
    &__item-img {
      object-fit: contain;
    }
  }
}
