.header {
  font-family: $Jost;
  padding: 100px 21px 0;
  &-heading {
    line-height: 100px;
    color: #fff;
    letter-spacing: 0;
    font-size: 88px;
  }
  &-second {
    line-height: 70px;
    color: #fff;
    letter-spacing: 0;
    font-size: 50px;
    font-weight: 500;
  }
  &-text {
    color: #fff;
    line-height: 30px;
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 0;
    margin: 45px 0 95px;
  }
  &-btn {
    text-transform: none;
    padding: 15px 30px;
    letter-spacing: 0;
    font-size: 24px;
    outline: none;
    border: none;
    cursor: pointer;
    margin-left: 10px;
    border-radius: 40px;
    &.all-btn {
      color: #fff;
      background-color: rgba(255, 106, 109, 1);
      transition: all 0.3s ease;
      &:hover {
        background-color: #fff;
        color: #ff6a6d;
      }
    }
    &.sign-btn {
      background-color: #ff6a6d00;
      border-style: solid;
      border-width: 2px;
      border-color: #ff6a6d;
      box-shadow: 4px 8px 0 0 rgb(115 79 32 / 11%);
      color: #fff;
      transition: all 0.3s ease;
      margin-left: 50px;
      &:hover {
        color: #fff;
        background-color: #ff6a6d;
      }
    }
  }
  &-courses {
    margin-top: 200px;
    margin-bottom: 0;
    padding: 311px 0 0;
    &__heading {
      color: #030080;
      font-size: 50px;
      font-weight: 500;
      font-family: $Jost;
    }
    &__text {
      color: #030080;
      line-height: 30px;
      font-size: 16px;
      font-weight: 400;
      font-family: $Montserrat;
      margin: 50px 0 0;
    }
    &__btn {
      cursor: pointer;
      padding: 15px 25px 16px;
      margin: 60px 0 0;
      line-height: 1;
      color: #fff;
      font-weight: 500;
      font-family: $Montserrat;
      font-size: 19px;
      letter-spacing: 0.05em;
      line-height: 1;
      border-radius: 25px 25px 25px 25px;
      background-color: #ad00f7;
      box-shadow: 4px 8px 0 0 rgb(115 79 32 / 11%);
      border: none;
      transition: background-color 0.3s ease, border-color 0.3s ease;
      &:focus,
      &:hover {
        background-color: #030080;
      }
    }
  }
  &__laptop {
    margin-top: 200px;
    margin-bottom: 0;
    padding: 311px 0 0;
  }
}
// header media query
@media (max-width: 1199px) {
  .header-heading {
    line-height: 80px !important;
    font-size: 60px !important;
  }
  .header-second {
    line-height: 50px !important;
    font-size: 30px !important;
  }
  .header-text {
    font-size: 19px !important;
    line-height: 28px !important;
  }
}

@media (max-width: 767px) {
  .header-heading {
    line-height: 60px !important;
    font-size: 40px !important;
  }
  .header-second {
    line-height: 40px !important;
    font-size: 20px !important;
  }
  .header-btn {
    font-size: 19px !important;
    padding: 0 60px !important;
  }
}
