// Navbar component styles
@import url("https://fonts.googleapis.com/css2?family=Source+Sans+Pro&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:wght@400;500;600;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500&display=swap");
.navbar {
  &__logo {
    display: inline-block;
    width: 170px;
    height: 40px;
  }
  &-mobile {
    &__inner {
      position: fixed;
      width: 100%;
      top: 88px;
      z-index: 9999;
      height: 100%;
    }
    &__header {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
      padding: 4px 21px;
    }
    &__menu {
      position: relative;
      left: -120%;
      background-color: #8261e2;
      transition: 1s all linear;
      &-open {
        left: 0%;
        transition: all 1s ease;
      }
    }
    &__list {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-top: 40px;
      padding-bottom: 100px;
      width: 100%;
      height: 100vh;
    }
    &__link {
      display: block;
      padding: 0 15px;
      font-family: "Montserrat Ultra";
      font-weight: bold;
      color: #fff;
      transition: all 0.3s ease-in;
      &:hover {
        color: #ff6a6d;
      }
      line-height: 48px !important;
      font-size: 24px !important;
    }
    .minisearch {
      opacity: 1;
      visibility: visible;
      transition: opacity 0.3s ease-in, visibility 0s linear 0s;
      position: absolute;
      opacity: 0;
      visibility: hidden;
      top: 50%;
      padding: 40px;
      background: transparent;
      transform: translateY(-50%);
      border: 0 none;
      transition: opacity 0.3s ease-out, visibility 0s linear 0.3s;
    }
  }
  &-link {
    display: inline-block;
  }
  &-menu {
    display: flex;
    position: relative;
    justify-content: flex-end;
    &__item {
      padding: 33px 3px;
      &-search {
        position: relative;
        width: 50px;
        i {
          padding: 0 15px;
        }
        & .active {
          opacity: 1;
          visibility: visible;
          transform: translateY(0);
          transition: opacity 0.5s, transform 0.5s;
        }
      }
    }
    &__link {
      display: block;
      padding: 0 15px;
      font-family: "Jost", sans-serif;
      font-size: 18px;
      font-weight: 500;
      line-height: 30px;
      color: #fff;
      transition: all 0.3s ease-in;
      &:hover {
        color: #ff6a6d;
      }
    }
  }
  &-search__modal {
    background-color: #ad00f7;
    padding: 20px;
    z-index: 99999;
    position: absolute;
    top: 100%;
    left: 0;
    padding: 20px;
    width: 280px;
    opacity: 0;
    visibility: hidden;
    transform: translateY(20px);
    transition: opacity 0.3s, transform 0.3s;
    &-form {
      display: flex;
      align-items: center;

      i {
        position: absolute;
        right: 10px;
        color: #ff6a6d;
        display: block;
        cursor: pointer;
      }
    }
    &-input {
      width: 100%;
      font-family: "Source Sans Pro", sans-serif;
      font-size: 16px;
      font-weight: 400;
      height: 40px;
      border-radius: 4px;
      padding-right: 40px;
      padding-left: 10px;
      outline: none;
      color: #ff6a6d;
      border: 1px solid #dfdad3;
    }
  }
}
@media screen and (max-width: 992px) {
  .navbar-search__modal {
    right: 10% !important;
    left: auto !important;
  }
}
@media screen and (max-width: 768px) {
  .navbar-menu {
    display: block !important;
  }
}
.block {
  display: block !important;
  text-align: center;
}

.menu-toggle {
  border: none;
  width: 36px;
  height: 30px;
  text-indent: 100%;
  font-size: 0;
  line-height: 0;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  outline: none;
  background: 0 0;
  padding: 0;
  transition: margin-right 1s, margin-left 1s, width 0.3s, height 0.2s,
    transform 1s;
  transform: translateX(0);
  margin-right: 0;
  margin-top: 25px;
  margin-bottom: 25px;
  &:focus {
    outline: none;
  }
}
.menu-toggle {
  display: none;
}
.menu-line-1,
.menu-line-2,
.menu-line-3 {
  background-color: #fff;
  position: absolute;
  height: 2px;
  width: 18px;
  left: 9px;
  transition: all 0.5s, top 0.3s, height 0.3s;
}
.menu-line-1 {
  top: 9px;
}
.menu-line-2 {
  top: 14px;
}
.menu-line-3 {
  top: 19px;
}
.close {
  .menu-line-1 {
    top: 3px !important;
    transform: rotate(0) !important;
  }
  .menu-line-2 {
    opacity: 1 !important;
  }
  .menu-line-3 {
    top: 23px !important;
    transform: rotate(0) !important;
  }
}
.toggle {
  .menu-line-1 {
    transform: rotate(45deg) !important;
    top: 13px !important;
  }
  .menu-line-2 {
    opacity: 0 !important;
  }
  .menu-line-3 {
    top: 13px !important;
    transform: rotate(-45deg) !important;
  }
}

@media screen and (max-width: 767px) {
  .menu-toggle {
    display: inline-block;
  }
}

.grey {
  background-color: #030080;
}
